#contactus-page {
  display: flex;
}
#safiri-logo {
  width: 150px;
}
.contact-us {
  height: 100%;
  background-image: url(https://img.freepik.com/free-photo/tourist-carrying-luggage_23-2151747324.jpg?t=st=1729536901~exp=1729540501~hmac=07611d57fefbd649dc9d498fe1ea97b618014f9d666d7e3190b3f7f09300d9e2&w=1380);
  background-size: cover;
  background-position: center;
  color: black;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  right: 0;
  left: 0;
  position: fixed;
  top: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-item {
  display: flex;
  align-items: center;
  margin: 10px;
  font-size: 1.2em;
}

.contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 10px;
}
#contactus-footer {
  z-index: 1;
  position: absolute;
  bottom: 0px;
  height: 5px;
  width: 100%;
}
