#signup-form {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 500px;
}
#signup-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-input {
  margin: 10px;
  position: relative;
  width: 50%;
  border-radius: 5px;
  text-align: center;
}
#signup-button {
  position: relative;
  width: 20%;
  margin-bottom: 5px;
  transition: background-color 0.5s;
}
#signup-button:hover {
  background-color: gold;
  transform: scale(1.05);
  cursor: pointer;
}
#error-message {
  color: red;
  z-index: 999;
  background-color: red;
}
#safiri-logo {
  width: 200px;
}
