#signup-form {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup-input {
  margin: 10px;
  position: relative;
  width: 20%;
  border-radius: 5px;
  text-align: center;
}
#signup-button {
  position: relative;
  width: 5%;
  margin-bottom: 5px;
}
#error-message {
  color: red;
  z-index: 999;
  background-color: red;
}
